<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
	body{
		background-image: url("http://media-cdn.tripadvisor.com/media/photo-s/01/d4/7e/64/view-from-grant-park.jpg");
	}
	</style>
</head>
<body>
	<div class="container">
	<center><h1>Ruby on Rails Events Application </h1>
	<% if flash[:error2] -%>
	  <p class='error'><%=h flash[:error2] %></p>
	<% end %>
		<form action="/sessions" method="post" class="form-control" style="width:300px;height:225px">
		<fieldset><legend>Login</legend></fieldset>
			<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
			Email:<input type="email" name="email" class="form-control">
			Password: <input type="password" name="password" class="form-control">
			<br>
			<input type="submit" value="Login" class="btn btn-success">
		</form>
			<a href="/users/new"><button class="btn btn-primary">Register</button></a>
	</div>
</body>
</html>