<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
		body{
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg/1280px-Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg");
	}
	</style>
</head>
<body>
<div class="container">
<h1><center>Ruby on Rails Events Application</center></h1>
<center><% if flash[:error] -%>
  <p class='error'><%=h flash[:error] %></p>
<% end %>
</center>
<center>
	<form action="/users" method="post" class="form-control" style="width:300px; height:500px">
	<fieldset><legend>Register</legend></fieldset>
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		First Name<input type="text" name="first_name" class="form-control">
		Last Name<input type="text" name="last_name" class="form-control">
		Email<input type="email" name="email" class="form-control">
		Password<input type="password" name="password" class="form-control">
		Confirm Password<input type="password" name="password_confirmation" class="form-control">
		Location<input type="text" name="location" class="form-control">
		State<select name="state" id="" class="form-control">
			<option value="CA">CA</option>
			<option value="WA">WA</option>
			<option value="AZ">AZ</option>
		</select> 
		<br>
		<input type="submit" value="Register" class="btn btn-danger">
	</form>
	<br>
	<a href="/sessions/new" style="color:black"><button class="btn btn-link">Already a member?</button></a>
</center>
</div>
</body>
</html>